body{
    background-color: #212127;
    font-family: 'Montserrat', sans-serif;
}

/* SCROLL UP BUTTON */
* {
  scroll-behavior: smooth;
}

/* VIDEO */
.myVideo{
    width: 100%;
    height: auto;
  }

/*HEADER*/
.responsive-header{
    width: 100%;
    height: auto;
    margin: auto;
}

.responsive-SERVICES{
    width: 100%;
    height: auto;
    margin: auto;
}

.icon{
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.center {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center1 {
  padding-bottom: 0px;
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

.padding {
  font-size-adjust: initial;
  padding-top: 50px;
  font-size: 15px;
}

p{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* DIVIDER */
hr.solid {
  border-top: 1px solid white;
  opacity: 2%;
        }


/******* TABS **********/
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    
    background-color:#212127;
    color: #bcbcbc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 15px;
    width: 25%;
    font-family: montserrat;
  }
  
  .tablink:hover {
    background-color: black;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    height: 100%;
  }
  
  #Home {background-color: #212127;}
  #About {background-color:  #212127;}
  #Works {background-color: #212127;}
  #Contact {background-color: #212127;}

  /* SCROLL UP BUTTON */
      /*SLIDE TO UP BUTTON*/
      #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        margin-right: 0px;
        margin-bottom: 0px;
        bottom: 0px; /* Place the button at the bottom of the page */
        right: 0px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: transparent; /* Set a background color */
         /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 0px; /* Some padding */
        border-radius: 0px; /* Rounded corners */ /* Increase font size */
        
  
      }
      
      #myBtn:hover {
        background-color: #212127; /* Add a dark-grey background on hover */
      }

      /* /************ END SCROLL UP BUTTON *****/


      

      /*----------- FOR ICON BAR ------------------*/
    .icon-bar {
      position: fixed;
      top: 25%;
      right: 0%;
    }
    
    .icon-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      font-size: 18px;
    }
    
    .icon-bar a:hover {
      background-color:white;
      color: #212127;
    }
    
    .facebook {
      background:transparent;
      color: white;
    }
    
    .twitter {
      background:transparent;
      color:white;
    }
    
    .google {
      background: transparent;
      color: white;
    }
    
    .linkedin {
      background: transparent;
      color:white;
    }
    
    .youtube {
      background:transparent;
      color: white;
    }
    /*************** END ICON BAR ************/




    /*********** READ MORE BUTTON - HOME TAB **********/

    .button {
      font-family: montserrat;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      background-color:white; /* Green */
      border: none;
      color: #212127;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 30px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
    }
  
    .button {
      transition-duration: 0.4s;
    }
    
    .button:hover {
      background-color: #212127; /* Green */
      color: white;
    }

    /********** END READ MORE BUTTOM - HOME TAB **********/
    

   

    /************************* GRID STYLE ****************************/
    
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 4px 0px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px; 
}

/* Create three equal columns that floats next to each other */
.column {
  
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  display: table;
  clear: both;
}


/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

    /************************ END GRID STYLE *******************/
  


    /************* PHOTO IMAGES ***************/
* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
	margin: auto;
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: auto;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 100%; /* IE 10 */
  flex: 100%;
}

.column img {
  margin-top: auto;
  vertical-align: middle;
  width: 100%;
}

/* Style the buttons -- GRID */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
  font-family: montserrat;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


/* Style the buttons -- FILTER */
.btn2 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-family: montserrat;
}


.btn2:hover {
  background-color: #ddd;
}

.btn2.active {
  background-color: #666;
  color: white;
}


    /********************* FILTER GALLERY *****************/
    
    /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/********** MODAL IMAGGE ***********/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}